{% extends 'base.html.twig' %}

{% block body %}
	<main class="login">
		<div class="logins">
			<h1>Notes-Code</h1>
			<a href="{{ path('app_home') }}"><img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code"></a>
			<form method="post">
				{% if error %}
					<div class="error">
						<p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
					</div>
				{% endif %}
				<label for="username">Email</label>
				<input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
				<label for="password">Mot de Passe</label>
				<input type="password" name="_password" id="password" autocomplete="current-password" required>
				<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
				<button class="btn" type="submit">Valider</button>
			</form>
			<p>Pas encore inscrit ?</p>
			<button class="btn">
				<a href="{{ path('app_register') }}">S'inscrire</a>
			</button>
		</div>
	</main>
{% endblock %}
