{% extends 'base.html.twig' %}

{% block title %}Notes-Code
{% endblock %}

{% block body %}
	<div class="div-btn-mod">
		{{ include('include/mod.html.twig') }}
	</div>
	<main class="home">
		{% for message in app.flashes('success') %}
			<div class="flashes-message">{{ message }}
			</div>
		{% endfor %}
		<article class="info">
			<h1>Bienvenue sur Notes Code</h1>
			<img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code">
			<h3>Notes Code : le bloc-notes conçu pour les développeurs ! Stockez, organisez et retrouvez facilement des snippets de code.</h3>
			<p>Version 0.0.2</p>
		</article>
		<article class="research-note">
			<button class="btn">
				<a href="{{ path('app_research') }}">Recherche Une Note</a>
			</button>
		</article>
		<article class="action">
			<button class="btn">
				<a href="{{ path('app_login') }}">Connexion</a>
			</button>
			<button class="btn">
				<a href="{{ path('app_register') }}">S'inscrire</a>
			</button>
			<button class="btn">
				<a href="{{ path('app_contact_no_user') }}">Contact</a>
			</button>
		</article>
	</main>
{% endblock %}
