<div class="footer">
	<footer>
		<div class="left-footer">

			<img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code">
			<p>
				<a href="{{ path('app_home') }}">note-code.fr</a>
			</p>
			<a href="https://github.com/MrKarr1" target="_blank">
				<i class="fa-brands fa-github"></i>
			</a>
		</div>
		<div class="div-font-size">
			{{ include('include/font_size.html.twig') }}
		</div>
		<div class="right-footer">
			<p>
				<a href="{{ path('app_mentions') }}">les Mentions Légales</a>
			</p>
			<p>
				<a href="{{ path('app_contact') }}">Contact</a>
			</p>
			<p>&copy; Maxime notes-code</p>
		</div>
	</footer>
</div>
