<header>

	<div class="nav-user">
		<a href="{{ path('app_account') }}">
			{% if app.user.avatar %}
				<img src="{{ asset('img/avatar/'~ app.user.avatar) }}" alt="l'avatar de {{ app.user.username }}">
			{% else %}
				<img src="{{ asset('img/avatar/default.jpg') }}" alt="avatar par défaut">
			{% endif %}
		</a>
		<p>{{ app.user.username }}</p>
	</div>
	<div class="nav-note">
		<button class="btn icone">
			<a href="{{ path('app_note_add') }}">Ajouter une Note</a>
		</button>
		<div class="div-research">
			<input type="text" id="research" name="research" placeholder="Recherche">
			<i class=" icone fa-solid fa-magnifying-glass"></i>
		</div>
	</div>
	<nav>
		<div class="note-table">
			<div class="btn-table">
				<button class="btn icone" id="favori">Favori</button>
				<button class="btn icone" id="folder">Dossier</button>
				<button class="btn icone" id="note">Notes</button>
			</div>
			<div class="favori" id="div_favori">
				<p>
					<strong>Favori</strong>
				</p>
				<table class="nav-table">
					<thead>
						<td>Nom</td>
						<td>Tag</td>
						<td>Dossier</td>
					</thead>
					<tbody>
						{% for note in app.user.note|slice(0, 15) %}
							{% if note.favori %}
								<tr>
									<td>
										<a href="{{ path('app_note_show', {'id': note.id}) }}">
											{{note.name}}
										</a>
									</td>
									<td>
										{% if note.tag %}
											{% for tag in note.tag %}
												<span>{{tag.name}}</span>
											{% endfor %}
										{% else %}
											<span>Pas de Tag</span>
										{% endif %}
									</td>
									<td>
										{% if note.folder %}
											{% for folders in note.folder %}
												<span>{{folders.name}}</span>
											{% endfor %}
										{% else %}
											<span>Pas de dossier</span>
										{% endif %}
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</thead>
			</table>
		</div>
		<div class="folder" id="div_folder">
			<p>
				<strong>Dossiers</strong>
			</p>
			<table class="nav-table">
				<thead>
					<td>Nom</td>
					<td>Note</td>
				</thead>
				<tbody>
					{% for folder in app.user.folder|slice(0, 15) %}
						<tr>
							<td>
								{# <a href="{{ path('app_folder_show', {'id': folder.id}) }}"></a> #}
								{{folder.name}}
							</td>
							<td>
								{% for note in folder.notes %}
									<a href="{{ path('app_note_show', {'id': note.id}) }}">
										<span>{{note.name}}</span>
									</a>
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="note" id="div_note">
			<p>
				<strong>Notes</strong>
				<table class="nav-table">
					<thead>
						<td>Note</td>
					</thead>
					<tbody>
						{% for note in app.user.note|slice(0, 15) %}
							<tr>
								<td>
									<a href="{{ path('app_note_show', {'id': note.id}) }}">
										{{note.name}}
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</p>
			</p>
		</table>
	</p>
</div>
<script src="{{ asset('note.js') }}"></script></div></div></nav></header>wrapper
