<div class="menu">
	<button class="btn" id="btn-nav-block">
		<i class="fa-solid fa-bars"></i>
	</button>
</div>
<header class="nav_menu">
	<button class="btn" id="btn-nav-none">
		<i class="fa-solid fa-xmark"></i>
	</button>
	<div class="nav-user">
		<div class="img-account">
			<a href="{{ path('app_account') }}">
				{% if app.user.avatar %}
					<img src="{{ asset('img/avatar/'~ app.user.avatar) }}" alt="l'avatar de {{ app.user.username }}">
				{% else %}
					<img src="{{ asset('img/avatar/default.jpg') }}" alt="avatar par défaut">
				{% endif %}
			</a>
		</div>
		<p>{{ app.user.username }}</p>
	</div>
	<div class="nav-note">
		<button class="btn icone">
			<a href="{{ path('app_note_add') }}">Ajouter une Note</a>
		</button>
		<div class="div-research">
			<input type="text" id="research" name="research" placeholder="Recherche">
			<i class=" icone fa-solid fa-magnifying-glass"></i>
		</div>
	</div>
	<nav>
		<div class="note-table">
			<div class="btn-table">
				<button class="btn icone" id="favori">Favori</button>
				<button class="btn icone" id="folder">Dossier</button>
				<button class="btn icone" id="note">Notes</button>
			</div>
			<div class="favori" id="div_favori">
				<p>
					<strong>Favori</strong>
				</p>
				<table class="nav-table">
					<thead>
						<td>Nom</td>
						<td>Tag</td>
						<td>Dossier</td>
					</thead>
					<tbody id="research-favori">
						{% for note in app.user.note|slice(0, 15) %}
							{% if note.favori %}
								<tr data-name="{{ note.name }}" data-tag="{% for tag in note.tag %}{{ tag.name }}{% endfor %}" data-folder="{% for folder in note.folder %}{{ folder.name }}{% endfor %}">
									<td>
										<a href="{{ path('app_note_show', {'id': note.id}) }}">
											{{note.name}}
										</a>
									</td>
									<td>
										{% if note.tag %}
											{% for tag in note.tag %}
												<span>{{tag.name}}</span>
											{% endfor %}
										{% else %}
											<span>Pas de Tag</span>
										{% endif %}
									</td>
									<td>
										{% if note.folder %}
											{% for folders in note.folder %}
												<span>{{folders.name}}</span>
											{% endfor %}
										{% else %}
											<span>Pas de dossier</span>
										{% endif %}
									</td>
								</tr>
							{% endif %}
						{% endfor %}
						{% for note in app.user.note|slice(15,500) %}
							{% if note.favori %}
								<tr class="none" data-name="{{ note.name }}" data-tag="{% for tag in note.tag %}{{ tag.name }}{% endfor %}" data-folder="{% for folder in note.folder %}{{ folder.name }}{% endfor %}">
									<td>
										<a href="{{ path('app_note_show', {'id': note.id}) }}">
											{{note.name}}
										</a>
									</td>
									<td>
										{% if note.tag %}
											{% for tag in note.tag %}
												<span>{{tag.name}}</span>
											{% endfor %}
										{% else %}
											<span>Pas de Tag</span>
										{% endif %}
									</td>
									<td>
										{% if note.folder %}
											{% for folders in note.folder %}
												<span>{{folders.name}}</span>
											{% endfor %}
										{% else %}
											<span>Pas de dossier</span>
										{% endif %}
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</thead>
			</table>
		</div>
		<div class="folder" id="div_folder">
			<p>
				<strong>Dossiers</strong>
			</p>
			<table class="nav-table">
				<thead>
					<td>Nom</td>
					<td>Note</td>
				</thead>
				<tbody id="research-folder">
					{% for folder in app.user.folder|slice(0, 15) %}
						<tr data-name="{{ folder.name }}" data-note="{% for note in folder.notes %}{{ note.name }}{% endfor %}">
							<td>
								{{folder.name}}
							</td>
							<td>
								{% for note in folder.notes %}
									<a href="{{ path('app_note_show', {'id': note.id}) }}">
										<span>{{note.name}}</span>
									</a>
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
					{% for folder in app.user.folder|slice(16, 500) %}
						<tr class="none" data-name="{{ folder.name }}" data-note="{% for note in folder.notes %}{{ note.name }}{% endfor %}">
							<td>
								{{folder.name}}
							</td>
							<td>
								{% for note in folder.notes %}
									<a href="{{ path('app_note_show', {'id': note.id}) }}">
										<span>{{note.name}}</span>
									</a>
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="note" id="div_note">
			<p>
				<strong>Notes</strong>
			</p>
			<table class="nav-table">
				<thead>
					<td>Note</td>
				</thead>
				<tbody id="research-note">
					{% for note in app.user.note|slice(0, 15) %}
						<tr data-name="{{ note.name }}">
							<td>
								<a href="{{ path('app_note_show', {'id': note.id}) }}">
									{{note.name}}
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</p>
		</p>
	</table>
</p></div></div></div></nav></header><script src="{{ asset('note.js') }}"></script><script>search('research', 'research-favori');
search('research', 'research-folder');
search('research', 'research-note');</script>
