<div class="menu">
	<button class="btn icone" id="btn-nav-block">
		<i class="fa-solid fa-bars"></i>
	</button>
</div>

<header class="nav_menu">
	<button class="btn icone" id="btn-nav-none">
		<i class="fa-solid fa-xmark"></i>
	</button>
	{% if app.user %}
		<div class="nav-user">
			<div class="img-account">
				<a href="{{ path('app_account') }}">
					{% if app.user.avatar %}
						<img src="{{ asset('img/avatar/'~ app.user.avatar) }}" alt="l'avatar de {{ app.user.username }}">
					{% else %}
						<img src="{{ asset('img/avatar/default.jpg') }}" alt="avatar par défaut">
					{% endif %}
				</a>
			</div>
			<h2>{{ app.user.username }}</h2>
		</div>
		<div class="nav-note">
			<button class="btn icone" onclick="window.location.href='{{ path('app_note_add') }}'">
				Ajouter une Note
			</button>
			{{ include('include/mod.html.twig') }}
			<div class="div-research">
				<input type="text" id="research" name="research" placeholder="Recherche">
				<i class=" icone fa-solid fa-magnifying-glass"></i>
			</div>
		</div>

		<nav>
			<div class="note-table">
				<div class="btn-table">
					<button class="btn icone" id="favori">Favori</button>
					<button class="btn icone" id="note">Notes</button>
				</div>
				<div class="favori" id="div_favori">
					<p>
						<strong>Favori</strong>
					</p>
					<table class="nav-table">
						<thead>
							<td>Nom</td>
						</thead>
						<tbody id="research-favori">
							{% for note in app.user.note|slice(0, 15) %}
								{% if note.favori %}
									<tr data-name="{{ note.name }}" data-tag="{% for tag in note.tag %}{{ tag.name }}{% endfor %}" data-folder="{% for folder in note.folder %}{{ folder.name }}{% endfor %}" data-langage="{{note.langage.displayName|lower}}">
										<td>
											<a href="{{ path('app_note_show', {'id': note.id}) }}">
												<i class="fa-regular fa-file"></i>
												{{note.name}}</a>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</thead>
				</table>
			</div>
			<div class="note" id="div_note">
				<p>
					<strong>Notes</strong>
				</p>
				<table class="nav-table">
					<thead>
						<td>Note</td>
					</thead>
					<tbody id="research-note">
						{% for note in app.user.note|slice(0, 15) %}
							<tr data-name="{{ note.name }}" data-tag="{% for tag in note.tag %}{{ tag.name }}{% endfor %}" data-folder="{% for folder in note.folder %}{{ folder.name }}{% endfor %}" data-langage="{{note.langage.displayName|lower}}">
								<td>
									<a href="{{ path('app_note_show', {'id': note.id}) }}">
										<i class="fa-regular fa-file"></i>
										{{note.name}}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</nav>
	<script src="{{ asset('nav-research.js') }}"></script>
	<script>
		search('research', 'research-favori');
search('research', 'research-note');
	</script>
{% else %}
	{{ include('include/mod.html.twig') }}
	<div class="action-user">
		<button class="btn" onclick="window.location.href='{{ path('app_home') }}'">Accueil</button>
		<button class="btn" onclick="window.location.href='{{ path('app_login') }}'">Connexion</button>
		<button class="btn" onclick="window.location.href='{{ path('app_register') }}'">S'inscrire</button>
	</div>
{% endif %}</header><script src="{{ asset('nav.js') }}"></script>
