{% extends 'base.html.twig' %}



{% block body %}
	{% include "include/nav.html.twig" %}
    <h1>Create new Langage</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}


   <button class="btn" ><a href="{{ path('app_account') }}">Retour</a></button>
{% endblock %}
