{% extends 'base.html.twig' %}

{% block title %}Langage index{% endblock %}

{% block body %}
    <h1>Langage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Display_name</th>
                <th>Technical_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for langage in langages %}
            <tr>
                <td>{{ langage.id }}</td>
                <td>{{ langage.displayName }}</td>
                <td>{{ langage.technicalName }}</td>
                <td>
                    <a href="{{ path('app_langage_show', {'id': langage.id}) }}">show</a>
                    <a href="{{ path('app_langage_edit', {'id': langage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_langage_new') }}">Create new</a>
{% endblock %}
