{% extends 'base.html.twig' %}
{% block body %}
	<div class="nav-laterale">
		{% include "include/nav.html.twig" %}
	</div>
	<div class="carte manage">
		<main class="manage-folder">
			<div class="flex-button">
				<button class="btn">
					<a href="{{ path('app_account') }}">Retour</a>
				</button>
			</div>
			<h1>Gérer les Dossiers</h1>

			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="flex-button">
				<button class="btn">{{ button_label|default('Valider') }}</button>
			</div>
			{{ form_end(form) }}
			<div class="note-table">
				<div class="folder folder-add" id="div-folder">
					<p>
						<strong>Dossiers</strong>
					</p>
					<table>
						<thead>
							<td>Nom Dossier</td>
							<td>Action</td>
						</thead>
						{% for folder in folders %}
							<tbody>
								<tr>
									<td class="name">
										<span>{{folder.name}}</span>
									</td>
									<td class="action">
										{{ include('folder/_delete_form.html.twig') }}
										<button class="btn icone">
											<a href="{{ path('app_folder_edit', {'id': folder.id}) }}">
												<i class="fa-solid fa-arrows-rotate"></i>
											</a>
										</button>
									</td>
								</tr>
							</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
