{% extends 'base.html.twig' %}

{% block body %}
	<div class="nav-laterale">
		{% include "include/nav.html.twig" %}
	</div>
	<div class="carte">
		<main class="edit-note">
			<div class="flex-button">
				<button class="btn">
					<a href="{{ path('app_account') }}">Retour</a>
				</button>
			</div>
			<article class="EAS-code-des">
				{{ form_start(form) }}
				<div id="note-code">{{ form.code.vars.value|json_encode|raw }}</div>
				<div id="note-language">{{ form.langage.vars.value }}</div>
				<div id="note-id">{{ form.code.vars.id }}</div>
				{{ form_row(form.name) }}
				{{ form_row(form.code, {'attr': {'class': 'monaco-editor'}}) }}
				{{ form_row(form.description) }}
				<div class="flex">
					<div class="right-note">
						{{ form_row(form.img) }}
						{{ form_row(form.is_favori) }}
						{{ form_row(form.langage) }}
					</div>
					<div class="left-note">
						{{ form_row(form.tag) }}
						{{ form_row(form.folder) }}
					</div>
				</div>
				<div class="flex-button">
					<button class="btn">Valider</button>
				</div>
				{{ form_end(form) }}
			</article>
			<article class="div-img-description">
				<div class="div-img">
					{% if note.img %}
						<h3>Image Actuelle:</h3>
						<img class="img-note" src="{{ asset('img/note/' ~ note.img) }}" alt="image de la note">
					{% endif %}
				</div>
			</article>
		</main>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.52.2/min/vs/loader.min.js"></script>
	<script src="{{ asset('monaco/add-edit.js') }}"></script>
{% endblock %}
