{% extends 'base.html.twig' %}

{% block body %}
	<div class="carte manage" id="carte-contact">
		<main class="manage-contact">
			<div class="img-carte">
				<a href="{{path('app_home')}}"><img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code"></a>
			</div>
			<div class="flex-button">
				<button class="btn">
					<a href="{{ path('app_account') }}">Retour</a>
				</button>
			</div>
			{% for message in app.flashes('success') %}
				<div class="flashes-message">{{ message }}
				</div>
			{% endfor %}
			<h1>Message reçu</h1>
			<div class="note-table">
				<div class="contact contact-add" id="div-contact">
					<div id="message-container" class="message-hidden">
						<p>
							<strong>Message</strong>
						</p>
						<p id="message-content"></p>
						<button class="btn" id="close-message">Fermer</button>
					</div>
					<table>
						<thead>
							<td>Date</td>
							<td>Nom ou Mail</td>
							<td>Message</td>
							<td>Action</td>
						</thead>
						{% for contact in contacts %}
							{% if contact.sentby != app.user.id %}
								<tbody>
									<tr>
										<td>
											<span>{{contact.createdAt|date('d/m/Y')}}</span>
										</td>
										<td>
											<span>{{contact.email}}</span>
										</td>
										<td>
											<button class="btn btn-message" data-message="{{ contact.message }}">Voir le message</button>
										</td>
										<td>
											<form method="post" action="{{ path('app_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce message ?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
												<button class="btn icone">
													<i class="fa-solid fa-trash"></i>
												</button>
											</form>

											<button class="btn icone">
												<a href="{{ path('app_respond', {'id': contact.id}) }}">Répondre</a>
											</button>
										</td>
									</tr>
								</tbody>
							{% endif %}
						{% endfor %}
					</table>
				</div>
			</div>
		</main>
	</div>
	<script src="{{ asset('message.js') }}"></script>
{% endblock %}
