{% extends 'base.html.twig' %}

{% block body %}
	<div class="div-btn-mod">
		{{ include('include/mod.html.twig') }}
	</div>
	<div class="carte manage" id="carte-contact">
		<main class="manage-contact">
			<div class="img-carte">
				<a href="{{path('app_home')}}"><img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code"></a>
			</div>
			<div class="flex-button">
				<button class="btn">
					<a href="{{ path('app_account') }}">Retour</a>
				</button>
			</div>
			<h1>Contact</h1>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="flex-button">
				<button class="btn">{{ button_label|default('Valider') }}</button>
			</div>
			{{ form_end(form) }}
			{% if app.user %}
				<div class="note-table">
					<div class="contact contact-add" id="div-contact">
						<div id="message-container" class="message-hidden">
							<p>
								<strong>Message</strong>
							</p>
							<p id="message-content"></p>
							<button class="btn" id="close-message">Fermer</button>
						</div>
						<p>
							<strong>Dernier message</strong>
						</p>
						<table>
							<thead>
								<td>Date</td>
								<td>Email</td>
								<td>Message</td>
							</thead>
							{% for contact in user.message %}
								<tbody>
									<tr>
										<td>
											<span>{{contact.createdAt|date('d/m/Y')}}</span>
										</td>
										<td>
											<span>{{contact.email}}</span>
										</td>
										<td class="span-message">
											<button class="btn btn-message" data-message="{{ contact.message }}">Voir le message</button>
										</td>
									</tr>
								</tbody>
								<div class="message">
									<p class="message-content message-hidden">{{ contact.message }}</p>
								</div>
							{% endfor %}
						</table>
					</div>
				</div>
			{% endif %}
		</main>
	</div>
	<script src="{{ asset('message.js') }}"></script>
{% endblock %}
