{% extends 'base.html.twig' %}

{% block body %}
	<div class="carte manage" id="carte-contact">
		<main class="manage-contact">
			<div class="img-carte">
				<a href="{{path('app_home')}}"><img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code"></a>
			</div>
			<div class="flex-button">
				<button class="btn">
					<a href="{{ path('app_account') }}">Retour</a>
				</button>
			</div>
			<h1>Contact</h1>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="flex-button">
				<button class="btn">{{ button_label|default('Valider') }}</button>
			</div>
			{{ form_end(form) }}
			{% if app.user %}
				<div class="note-table">
					<div class="contact contact-add" id="div-contact">
						<p>
							<strong>Dernier message</strong>
						</p>
						<table>
							<thead>
								<td>Date</td>
								<td>Email</td>
								<td>Message</td>
							</thead>
							{% for contact in user.message %}
								<tbody>
									<tr>
										<td>
											<span>{{contact.createdAt|date('d/m/Y')}}</span>
										</td>
										<td>
											<span>{{contact.email}}</span>
										</td>
										<td>
											<span>{{ contact.message }}</span>
										</td>
									</tr>
								</tbody>
							{% endfor %}
						</table>
					</div>
				</div>
			{% endif %}
		</main>
	</div>
{% endblock %}
