{% extends 'base.html.twig' %}
{% set nav = true %}

{% block body %}
	<h1>Create new Tag</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}


	<button class="btn">
		<a href="{{ path('app_account') }}">Retour</a>
	</button>
{% endblock %}
