{% extends 'base.html.twig' %}
{% block body %}
	<main class="account">
		{% if user.avatar %}
			<img src="{{ asset('img/avatar/'~ user.avatar) }}" alt="l'avatar de {{ user.username }}">
		{% else %}
			<img src="{{ asset('img/avatar/default.jpg') }}" alt="avatar par défaut">
		{% endif %}

		<button class="icone">
			<a href="">
				<i class="fa-solid fa-gear"></i>
			</a>
		</button>
		<h3>{{ user.username }}</h3>
		<h3>{{ user.email }}</h3>
		<button class="btn">
			<a href="{{ path('app_note_add') }}">Ajouter une Note</a>
		</button>
		<button class="btn">
			<a href="{{ path('app_tag_add') }}">Créer un Tag</a>
		</button>
		<button class="btn">
			<a href="{{ path('app_folder_add') }}">Créer un Dossier</a>
		</button>
		{% if app.user and is_granted('ROLE_ADMIN') %}
			{# si l'utilisateur est connecté et a le rôle admin #}
			<button class="btn">
				<a href="{{ path('app_langage_add') }}">Créer un Langage</a>
			</button>
		{% endif %}

		<button class="btn" id="favori">Favori</button>
		<button class="btn" id="dossier">Dossier</button>
		<button class="btn" id="note">Notes</button>
		<div class="favori" id="div_favori">
			<thead>
				<th>Titre</th>
				<th>Tag</th>
				<th>Dossier</th>
				<th>Langage</th>
				<th>Date</th>
				<th>Action</th>
			</thead>
			<br>
			{% for note in user.note %}
				{% if note.favori %}
					<tbody>
						<tr>
							<a href="{{ path('app_note_show', {'id': note.id}) }}">
								<td class="name">{{note.name}}</td>
							</a>
							<td class="tag">
								{% if note.tag %}
									{% for tag in note.tag %}
										<span>{{tag.name}}</span>
									{% endfor %}
								{% else %}
									<span>Pas de Tag</span>
								{% endif %}
							</td>
							<td class="folder">
								{% if note.folder %}
									{% for folders in note.folder %}
										<span>{{folders.name}}</span>
									{% endfor %}
								{% else %}
									<span>Pas de dossier</span>
								{% endif %}
							</td>

							<td class="langage">{{ note.langage.displayName }}</td>
							<td class="created">{{ note.createdAt ? note.createdAt|date('d-m-Y') : '' }}</td>
							<td class="action">
								{{ include('note/_delete_form.html.twig') }}
							</td>
						</tr>
					</tbody>
				{% endif %}
			{% endfor %}
		</div>
		<div class="dossier"></div>
		<div class="note"></div>

	</main>
{% endblock %}
{# <pre>
{{ dump(note) }}
</pre> #}
