{% extends 'base.html.twig' %}
{% block body %}
	<main class="account">
		<div class="accounts">
			<div class="user-account">
				<div class="users-account">
					<div class="img-account">
						<a href="{{ path('app_account') }}">
							{% if user.avatar %}
								<img src="{{ asset('img/avatar/'~ user.avatar) }}" alt="l'avatar de {{ user.username }}">
							{% else %}
								<img src="{{ asset('img/avatar/default.jpg') }}" alt="avatar par défaut">
							{% endif %}
						</a>
					</div>
					<div class="btn-account">
						<button class=" btn icone">
							<a href="{{ path('app_user_edit', {'id': user.id}) }}">
								<i class="fa-solid fa-user-pen"></i>
							</a>
						</button>
						<button class=" btn icone">
							<a href="{{ path('app_logout') }}">
								<i class="fa-solid fa-arrow-right-from-bracket"></i>
							</a>
						</button>
					</div>
					<div class="user-info-account">
						<h3>{{ user.username }}</h3>
					</div>
				</div>
				<div class="button">
					<button class="btn">
						<a href="{{ path('app_note_add') }}">Ajouter une Note</a>
					</button>
				</div>
			</div>
			{% for message in app.flashes('success') %}
				<div class="flashes-message">{{ message }}
				</div>
			{% endfor %}
			<div class="action">
				<div class="div-action">
					<button class="btn">
						<a href="{{ path('app_tag_add') }}">Gérer les Tags</a>
					</button>
					<button class="btn">
						<a href="{{ path('app_folder_add') }}">Gérer les Dossiers</a>
					</button>
					<button class="btn">
						<a href="{{ path('app_contact') }}">Contact</a>
					</button>
					{% if app.user and is_granted('ROLE_ADMIN') %}
						{# si l'utilisateur est connecté et a le rôle admin #}
						<button class="btn">
							<a href="{{ path('app_langage_add') }}">Gérer les Langages</a>
						</button>
						<button class="btn">
							<a href="{{ path('app_contact_show') }}">Message de contact</a>
						</button>
					{% endif %}
				</div>
				<div class="div-research">
					<input type="text" id="research" name="research" placeholder="Recherche">
					<i class=" icone fa-solid fa-magnifying-glass"></i>
				</div>
			</div>

			<div class="note-table">
				<div class="btn-table">
					<button class="btn icone" id="favori">Favori</button>
					<button class="btn icone" id="folder">Dossier</button>
					<button class="btn icone" id="note">Notes</button>
				</div>
				<div class="favori" id="div_favori">
					<p>
						<strong>Favori</strong>
					</p>
					<table>
						<thead>
							<td>Nom Note</td>
							<td>Tag</td>
							<td>Dossier</td>
							<td>Langage</td>
							<td>Date</td>
							<td>Action</td>
						</thead>
						<tbody id="research-favori">
							{% for note in user.note %}
								{% if note.favori %}
									<tr data-name="{{note.name|lower}}" data-description="{{note.description|lower}}" data-tag="{% for tag in note.tag %}{{tag.name|lower}}{% endfor %}">
										<td>
											<a href="{{ path('app_note_show', {'id': note.id}) }}">
												{{note.name}}
											</a>
										</td>
										<td>
											{% if note.tag %}
												{% for tag in note.tag|slice(0, 5) %}
													<span>{{tag.name}}</span>
												{% endfor %}
											{% else %}
												<span>Pas de Tag</span>
											{% endif %}
										</td>
										<td>
											{% if note.folder %}
												{% for folders in note.folder|slice(0, 5) %}
													<span>{{folders.name}}</span>
												{% endfor %}
											{% else %}
												<span>Pas de dossier</span>
											{% endif %}
										</td>

										<td>{{ note.langage.displayName }}</td>
										<td>{{ note.createdAt ? note.createdAt|date('d-m-Y') : '' }}</td>
										<td class="action">
											{{ include('note/_delete_form.html.twig') }}
											<button class="btn icone">
												<a href="{{ path('app_note_edit', {'id': note.id}) }}">
													<i class="fa-solid fa-arrows-rotate"></i>
												</button>
											</a>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="folder" id="div_folder">
					<p>
						<strong>Dossiers</strong>
					</p>
					<table>
						<thead>
							<td>Nom Dossier</td>
							<td>Nom des notes</td>
							<td>Date</td>
							<td>Action</td>
						</thead>
						<tbody id="research-folder">
							{% for folder in user.folder %}
								<tr data-name="{{folder.name|lower}}" data-date="{{folder.createdAt ? folder.createdAt|date('d-m-Y') : ''}}" data-note="{% for note in folder.notes %}{{note.name|lower}}{% endfor %}">
									<td>
										<span>{{folder.name}}</span>
									</td>
									<td>
										{% if folder.notes %}
											{% for note in folder.notes|slice(0, 35) %}
												<span>
													<a href="{{ path('app_note_show', {'id': note.id}) }}">
														{{note.name}}
													</a>
												</span>
											{% endfor %}
										{% else %}
											<span>Pas de note</span>
										{% endif %}
									</td>
									<td>{{ folder.createdAt ? folder.createdAt|date('d-m-Y') : '' }}</td>
									<td class="action">
										{{ include('folder/_delete_form.html.twig') }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="note" id="div_note">
					<p>
						<strong>Notes</strong>
					</p>
					<table>
						<thead>
							<td>Nom Note</td>
							<td>Tag</td>
							<td>Dossier</td>
							<td>Langage</td>
							<td>Date</td>
							<td>Action</td>
						</thead>
						<tbody id="research-note">
							{% for note in user.note %}
								<tr data-name="{{note.name|lower}}" data-description="{{note.description|lower}}" data-tag="{% for tag in note.tag %}{{tag.name|lower}}{% endfor %}" data-folder="{% for folders in note.folder %}{{folders.name|lower}}{% endfor %}" data-langage="{{note.langage.displayName|lower}}">
									<td>
										<a href="{{ path('app_note_show', {'id': note.id}) }}">
											{{note.name}}
										</a>
									</td>
									<td>
										{% if note.tag %}
											{% for tag in note.tag|slice(0, 5) %}
												<span>{{tag.name}}</span>
											{% endfor %}
										{% else %}
											<span>Pas de Tag</span>
										{% endif %}
									</td>
									<td>
										{% if note.folder %}
											{% for folders in note.folder|slice(0, 5) %}
												<span>{{folders.name}}</span>
											{% endfor %}
										{% else %}
											<span>Pas de dossier</span>
										{% endif %}
									</td>

									<td>{{ note.langage.displayName }}</td>
									<td>{{ note.createdAt ? note.createdAt|date('d-m-Y') : '' }}</td>
									<td class="action">
										{{ include('note/_delete_form.html.twig') }}
										{% if note.favori %}
											<button class="btn icone">
												<a href="{{ path('app_note_favori', {'id': note.id}) }}">
													<i class="fa-solid fa-star"></i>
												</a>
											</button>
										{% else %}
											<button class="btn icone">
												<a href="{{ path('app_note_favori', {'id': note.id}) }}">
													<i class="fa-regular fa-star"></i>
												</a>
											</button>
										{% endif %}
										<button class="btn icone">
											<a href="{{ path('app_note_edit', {'id': note.id}) }}">
												<i class="fa-solid fa-arrows-rotate"></i>
											</button>
										</td>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>

	<script src="{{ asset('note.js') }}"></script>
	<script>
		search('research', 'research-favori');
search('research', 'research-folder');
search('research', 'research-note');
	</script>
{% endblock %}
