{% extends 'base.html.twig' %}
{% block body %}
	<main class="account">
		<div class="accounts">
			<div class="user-account">
				<div class="users-account">
					<div class="img-account">
						<a href="{{ path('app_account') }}">
							{% if user.avatar %}
								<img src="{{ asset('img/avatar/'~ user.avatar) }}" alt="l'avatar de {{ user.username }}">
							{% else %}
								<img src="{{ asset('img/avatar/default.jpg') }}" alt="avatar par défaut">
							{% endif %}
						</a>
					</div>
					<div class="btn-account">
						<button class="btn icone" onclick="window.location.href='{{ path('app_user_edit', {'id': user.id}) }}'">
							<i class="fa-solid fa-user-pen"></i>
						</button>
						<button class="btn icone" onclick="window.location.href='{{ path('app_logout') }}'">
							<i class="fa-solid fa-arrow-right-from-bracket"></i>
						</button>
						{{ include('include/mod.html.twig') }}
					</div>
					<div class="user-info-account">
						<h3>{{ user.username }}</h3>
					</div>
					<div class="button">
						<button class="btn" onclick="window.location.href='{{ path('app_note_add') }}'">
							Ajouter une Note
						</button>

					</div>
				</div>
			</div>
			{% for message in app.flashes('success') %}
				<div class="flashes-message">
					<p>{{ message }}</p>
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="flashes-message">
					<p>{{ message }}</p>
				</div>
			{% endfor %}
			<div class="action">
				<div class="div-action">
					<button class="btn" onclick="window.location.href='{{ path('app_tag_add') }}'">
						Gérer les Tags
					</button>
					<button class="btn" onclick="window.location.href='{{ path('app_folder_add') }}'">
						Gérer les Dossiers
					</button>
					<button class="btn" onclick="window.location.href='{{ path('app_research') }}'">
						Recherche Une Note
					</button>
					{% if app.user and is_granted('ROLE_ADMIN') %}
						{# si l'utilisateur est connecté et a le rôle admin #}
						<button class="btn" onclick="window.location.href='{{ path('app_langage_add') }}'">
							Gérer les Langages
						</button>
						<button class="btn" onclick="window.location.href='{{ path('app_contact_show') }}'">
							Message de contact
						</button>
						<button class="btn" onclick="window.location.href='{{ path('app_admin_user') }}'">
							Dashboard
						</button>
					{% endif %}
				</div>
				<div class="div-research">
					<input type="text" id="research" name="research" placeholder="Recherche">
					<i class=" icone fa-solid fa-magnifying-glass"></i>
				</div>
			</div>
			<div class="note-table">
				<div class="btn-table">
					<button class="btn icone" id="favori">Favori</button>
					<button class="btn icone" id="note">Notes</button>
					<button class="btn icone" id="folder">Dossier</button>
				</div>
				<article class="favori" id="div_favori">
					<p>
						<strong>Favori</strong>
					</p>
					<table>
						<thead>
							<td>Nom Note</td>
							<td class="media-hidden">Tag</td>
							<td class="media-hidden">Dossier</td>
							<td class="media-hidden">Langage</td>
							<td class="media-hidden">Date</td>
							<td>Action</td>
						</thead>
						<tbody id="research-favori">
							{% for note in user.note %}
								{% if note.favori %}
									<tr data-name="{{note.name|lower}}" data-description="{{note.description|lower}}" data-tag="{% for tag in note.tag %}{{tag.name|lower}}{% endfor %}" data-langage="{{note.langage.displayName|lower}}">
										<td>
											<a href="{{ path('app_note_show', {'id': note.id}) }}">
												<i class="fa-regular fa-file"></i>
												{{note.name}}
											</a>
										</td>
										<td class="media-hidden">
											{% if note.tag %}
												{% for tag in note.tag|slice(0, 5) %}
													<span>{{tag.name}}</span>
												{% endfor %}
											{% else %}
												<span>Pas de Tag</span>
											{% endif %}
										</td>
										<td class="media-hidden">
											{% if note.folder %}
												{% for folders in note.folder|slice(0, 5) %}
													<span>{{folders.name}}</span>
												{% endfor %}
											{% else %}
												<span>Pas de dossier</span>
											{% endif %}
										</td>

										<td class="media-hidden">{{ note.langage.displayName }}</td>
										<td class="media-hidden">{{ note.createdAt ? note.createdAt|date('d-m-Y') : '' }}</td>
										<td class="action-td ">
											{{ include('note/_delete_form.html.twig') }}
											<button class="btn icone" onclick="window.location.href='{{ path('app_note_edit', {'id': note.id}) }}'">
												<i class="fa-solid fa-arrows-rotate"></i>
											</button>
										</td>
									</tr>
								</a>
							</td>
						</tbody>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</article>
<article class="folder" id="div_folder">
	<p>
		<strong>Dossiers</strong>
	</p>
	<table>
		<thead>
			<td>Dossier</td>
			<td>Nom des notes</td>
			<td class="media-hidden">Date</td>
			<td>Action</td>
		</thead>
		<tbody id="research-folder">
			{% for folder in user.folder %}
				<tr data-name="{{folder.name|lower}}" data-date="{{folder.createdAt ? folder.createdAt|date('d-m-Y') : ''}}" data-note="{% for note in folder.notes %}{{note.name|lower}}{% endfor %}">
					<td>
						<span>{{folder.name}}</span>
					</td>
					<td>
						<div class="media-column">
							{% if folder.notes %}
								{% for note in folder.notes|slice(0, 35) %}
									<span>
										<a href="{{ path('app_note_show', {'id': note.id}) }}">
											<i class="fa-regular fa-file"></i>
											{{note.name}}
										</a>
									</span>
								{% endfor %}
							{% else %}
								<span>Pas de note</span>
							{% endif %}
						</div>
					</td>
					<td class="media-hidden">{{ folder.createdAt ? folder.createdAt|date('d-m-Y') : '' }}</td>
					<td>
						{{ include('folder/_delete_form.html.twig') }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</article>
<article class="note" id="div_note">
	<p>
		<strong>Notes</strong>
	</p>
	<table>
		<thead>
			<td>Nom Note</td>
			<td class="media-hidden">Tag</td>
			<td class="media-hidden">Dossier</td>
			<td class="media-hidden">Langage</td>
			<td class="media-hidden">Date</td>
			<td>Action</td>
		</thead>
		<tbody id="research-note">
			{% for note in user.note %}
				<tr data-name="{{note.name|lower}}" data-description="{{note.description|lower}}" data-tag="{% for tag in note.tag %}{{tag.name|lower}}{% endfor %}" data-folder="{% for folders in note.folder %}{{folders.name|lower}}{% endfor %}" data-langage="{{note.langage.displayName|lower}}">
					<td>
						<a href="{{ path('app_note_show', {'id': note.id}) }}">
							<i class="fa-regular fa-file"></i>
							{{note.name}}
						</a>
					</td>
					<td class="media-hidden">
						{% if note.tag %}
							{% for tag in note.tag|slice(0, 5) %}
								<span>{{tag.name}}</span>
							{% endfor %}
						{% else %}
							<span>Pas de Tag</span>
						{% endif %}
					</td>
					<td class="media-hidden">
						{% if note.folder %}
							{% for folders in note.folder|slice(0, 5) %}
								<span>{{folders.name}}</span>
							{% endfor %}
						{% else %}
							<span>Pas de dossier</span>
						{% endif %}
					</td>
					<td class="media-hidden">{{ note.langage.displayName }}</td>
					<td class="media-hidden">{{ note.createdAt ? note.createdAt|date('d-m-Y') : '' }}</td>
					<td class="action-td">
						{{ include('note/_delete_form.html.twig') }}
						{% if note.favori %}
							<button class="btn icone" onclick="window.location.href='{{ path('app_note_favori', {'id': note.id}) }}'">
								<i class="fa-solid fa-star"></i>
							</button>
						{% else %}
							<button class="btn icone" onclick="window.location.href='{{ path('app_note_favori', {'id': note.id}) }}'">
								<i class="fa-regular fa-star"></i>
							</button>
						{% endif %}
						<button class="btn icone" onclick="window.location.href='{{ path('app_note_edit', {'id': note.id}) }}'">
							<i class="fa-solid fa-arrows-rotate"></i>
						</button>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% endfor %}</tbody></table></article></div></div></main><script src="{{ asset('note.js') }}"></script><script>search('research', 'research-favori');
search('research', 'research-folder');
search('research', 'research-note');</script>{% endblock %}
