{% extends 'base.html.twig' %}


{% block body %}
	<div class="nav-laterale">
		{% include "include/nav.html.twig" %}
	</div>
	<main class="edit-user">
		<div class="edits-users">
			<div class="flex-button">
				<button class="btn" onclick="window.location.href='{{ path('app_account') }}'">
					Retour
				</button>
			</div>
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form.plainPassword) }}
			<div class="flex-button">
				<button class="btn">{{ button_label|default('Valider') }}</button>
			</div>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
