{% extends 'base.html.twig' %}


{% block body %}
	<main class="register">
		<div class="registers">
			<a href="{{path('app_home')}}"><img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code"></a>
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
			{{ form_label(form.message) }}
			{{ form_widget(form.message) }}

			<div class="flex-button">
				<button class="btn">{{ button_label|default('Valider') }}</button>
			</div>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
