{% extends 'base.html.twig' %}


{% block body %}
	<main class="register">
		<a href="{{path('app_home')}}"><img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code"></a>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn">{{ button_label|default('Valider') }}</button>
		{{ form_end(form) }}
	</main>
{% endblock %}
