{% extends 'base.html.twig' %}


{% block body %}
	<div class="div-btn-mod">
		{{ include('include/mod.html.twig') }}
	</div>
	<main class="register">
		<div class="registers">
			<a href="{{path('app_home')}}"><img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code"></a>
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_label(form.username) }}
			{{ form_errors(form.username) }}
			{{ form_widget(form.username) }}
			{{ form_label(form.email) }}
			{{ form_errors(form.email) }}
			{{ form_widget(form.email) }}
			{{ form_errors(form.plainPassword) }}
			{{ form_widget(form.plainPassword) }}
			{{ form_label(form.avatar) }}
			{{ form_errors(form.avatar) }}
			{{ form_widget(form.avatar) }}
			<div class="flex-button">
				<button class="btn">{{ button_label|default('Valider') }}</button>
			</div>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
